version: '3.8'

services:
  hardhat:
    build:
      context: .
      dockerfile: docker/hardhat/Dockerfile
    env_file: ./.env
    ports:
      - "8545:8545"
    networks:
      - bombdash-net

  backend:
    build:
      context: .
      dockerfile: docker/backend/Dockerfile
    env_file: ./.env
    ports:
      - "3000:3000"
    depends_on:
      - hardhat
    environment:
      - TESTNET_RPC_URL=http://hardhat:8545
    networks:
      - bombdash-net

  frontend:
    build:
      context: .
      dockerfile: docker/frontend/Dockerfile
    ports:
      - "5173:5173"
    depends_on:
      - backend
    networks:
      - bombdash-net

networks:
  bombdash-net:
    driver: bridge
