version: '3.8'

services:
  hardhat:
    build:
      context: .
      dockerfile: docker/hardhat/Dockerfile
    env_file: ./.env
    ports:
      - "8545:8545"
    healthcheck:
      test: ["CMD", "curl", "--fail", "-X", "POST", "--data", "{\"jsonrpc\":\"2.0\",\"method\":\"web3_clientVersion\",\"params\":[],\"id\":1}", "http://localhost:8545"]
      interval: 5s
      timeout: 5s
      retries: 30
    networks:
      - bombdash-net
    volumes:
      - contract-artifacts:/app/backend/contracts

  backend:
    build:
      context: .
      dockerfile: docker/backend/Dockerfile
    env_file: ./.env
    ports:
      - "3000:3000"
    depends_on:
      hardhat:
        condition: service_healthy
    environment:
      - TESTNET_RPC_URL=http://hardhat:8545
    networks:
      - bombdash-net
    volumes:
      - contract-artifacts:/app/backend/contracts

  frontend:
    build:
      context: .
      dockerfile: docker/frontend/Dockerfile
    ports:
      - "5173:5173"
    depends_on:
      - backend
    networks:
      - bombdash-net

networks:
  bombdash-net:
    driver: bridge

volumes:
  contract-artifacts:
